.banner {
  min-height: 50vh;
  display: flex;
  max-width: 990px;
  margin: auto;
  position: relative;
}

.banner__inner {
  padding-top: 10%;
  text-align: left;
  width: 70%;
  z-index: 1;
}

.banner__header {
  @include typography(alpha);
  margin-bottom: 20px;
  order: 1;
}

.banner__content {
  margin-bottom: 2em;
  padding-right: 9em;
}

.banner__cta {
  z-index: 1;
  position: relative;
  order: 2;
}

.banner__image {
  position: absolute;
  width: 80%;
  right: -20%;
  bottom: -15%;
}

@media screen and (max-width: 990px) {
  .banner {
    flex-direction: column;
  }
  .banner__inner {
    width: unset;
    text-align: center;
  }

  .banner__image {
    display: none;
  }
}
