.btn {
  padding: 10px 20px;
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: transparent;
  transition: all 0.5s;
  @include typography(default);

  &:hover {
    color: $color-brand;
    background: #fff;
  }
}

.btn-secondary {
  padding: 10px 20px;
  border: 1px solid #3a7bd5;
  display: inline-block;
  color: #3a7bd5;
  text-decoration: none;
  background: transparent;
  transition: all 0.5s;
  cursor: pointer;
  @include typography(default);

  &:hover {
    color: #fff;
    background: #3a7bd5;
  }
}
