.btn {
  padding: 10px 20px;
  border: 2px solid $color-text;
  display: inline-block;
  color: $color-text-white;
  text-decoration: none;
  background: $color-brand;
  transition: all 0.3s;
  border: 2px solid $color-brand;
  border-radius: 5px;
  @include typography(default);

  &:hover {
    color: $color-brand;
    background: transparent;
    border: 2px solid $color-brand;
  }
}

.btn-secondary {
  padding: 10px 20px;
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: transparent;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 5px;
  @include typography(default);

  &:hover {
    color: $color-text;
    background: #fff;
  }
}
