.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__content {
  flex: 1;
}

.content-wrapper {
  max-width: 600px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  img {
    max-width: 35%;
    // width: 300px;
  }
  &__text {
    max-width: 560px;
  }
  &--clickable {
    &:hover {
      // background: #ededed;
      background: linear-gradient(45deg, $color-brand-light, transparent);
      cursor: pointer;
      // transform: scale(1.01);
    }
  }
}
