.panel {
}

.panel__inner {
  padding: 80px 20px;
  margin: 0 auto;
  max-width: 1200px;

  .feature {
    min-width: 190px;
  }
}

.panel__header {
  @include typography(alpha);
  text-align: center;
  margin-bottom: 20px;
  color: $color-brand;
  text-transform: uppercase;
}

.panel__content {
  margin-bottom: 20px;
}

.panel--no-spacing {
  .panel__inner {
    padding: 0;
    max-width: none;
  }
}

.panel--limited {
  .panel__inner {
    max-width: 600px;
  }
}

.panel--special {
  background: $color-gray;

  // .feature {
  //   min-width: 180px;
  //   max-width: 220px;
  // }


  @media screen and (max-width: 940px) {
    .feature-list {
      flex-direction: column;
      align-items: center;

      .feature {
        margin-bottom: 3rem;
        width: 400px;
        text-align: center;
        border-radius: 10px;
        padding: 2rem;
      }
    }
  }
}

.panel--header {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background: #fff;

  .panel__inner {
    padding: 20px;
  }
}
