.product-list {
  max-width: 900px;
  margin: 0 auto;

  .product {
    margin-bottom: 20px;
  }
}

.product {
  padding: 10px;

  @include mq($until: screen1000) {
    text-align: center;
  }
}

.product__inner {
  @include mq(screen1000) {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.product__header {
  @include typography(gamma);
  margin-bottom: 20px;
}

.product__image {
  display: block;
  margin: 0 auto;
  max-width: 120px;

  @include mq(screen1000) {
    flex: 1 0 120px;
  }
}

.product__content {
  margin-bottom: 20px;
  flex: 3;
}

.product__header {
  margin-bottom: 20px;
}

.product__cta {
  margin-top: 20px;
  @include mq(screen1000) {
    max-width: 210px;
    flex: 1 0 210px;
  }
}

// TODO: move to seperate file
.product-detail-image {
  max-height: 400px;
  display: block;
  margin: 0 auto 30px auto;
}
