/* Base Styles
   ==================== */

/**
 * 1. Include padding and border in all the element's total width and height
 * 2. Base reset
 * 3. Prevent images/iframes from overflowing containers
 */

html {
  box-sizing: border-box; /* 1 */
}

*,
*:before,
*:after {
  box-sizing: inherit; /* 1 */
}

html,
body {
  margin: 0; /* 2 */
  padding: 0; /* 2 */
}
body {
  background: linear-gradient(to right, rgb(250, 250, 250), white);
}

img,
iframe {
  max-width: 100%; /* 3 */
}

p + p {
  margin-top: 10px;
}

.first-panel {
  background: $color-brand-light;
  color: $color-text;

  p {
    color: #000000;
  }

  .two-columns {
    display: flex;
    flex-wrap: wrap;

    .col-left {
      padding: 1em;
      flex: 1 1;
      text-align: right;
      align-items: center;

      ul {
        font-weight: 700;
        color: black;

        li {
          font-size: 120%;
          padding: 0 0 .2em .2em;
        }
        li:before {
          content: '✓'; 
        }
      }
    }
    .col-right {
      padding: 1em;
      flex: 1 1;
      text-align: left;
    }
  }
}


@media screen and (max-width: 990px) {
  .col-left {
    text-align: center !important;
  }
}