/* Base Styles
   ==================== */

/**
 * 1. Include padding and border in all the element's total width and height
 * 2. Base reset
 * 3. Prevent images/iframes from overflowing containers
 */

html {
  box-sizing: border-box; /* 1 */
}

*,
*:before,
*:after {
  box-sizing: inherit; /* 1 */
}

html,
body {
  margin: 0; /* 2 */
  padding: 0; /* 2 */
}

img,
iframe {
  max-width: 100%; /* 3 */
}

p + p {
  margin-top: 10px;
}

.first-panel {
  background: $color-brand-light;
  color: $color-text;
}
