/* Project mixins
   ==================== */

/**
 * A set of project specificd mixins
 */

/* Typography Mixin
   ==================== */

/**
 * All font variations are defined in one place.
 * The naming is dependant of the brand and design.
 * Media queries are optional
 *
 * Usage:
 * @include typography(alpha)
 */

@mixin typography($type-class: default) {
  @if $type-class == alpha {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.2;

    @include mq(screen1000) {
      font-size: 3.4rem;
    }
  } @else if $type-class == beta {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;

    @include mq(screen1000) {
      font-size: 2.4rem;
    }
  } @else if $type-class == gamma {
    font-family: $font-primary;
    font-size: 2rem;
    line-height: 1.5;
  } @else if $type-class == micro {
    font-family: $font-secondary;
    font-size: 1.4rem;
    line-height: 1.5;
  } @else if $type-class == default {
    font-family: $font-secondary;
    font-size: 1.8rem;
    line-height: 1.5;
  }
}
