/* Base Typography
   ==================== */

/**
 * 1. html is set to 62.5% so that all the REM measurements throughout
 *    the site are based on 10px sizing. So basically 1.6rem = 16px
 * 2. Avoid long words breaking layout
 * 3. Better font rendering for webkit browsers
 * 4. Base reset for common elements
 */

html {
  font-size: 62.5%; /* 1 */
}

body {
  @include typography(default);
  color: $color-text;
  line-height: 1.5;
  font-family: $font-primary;
  word-wrap: break-word; /* 2 */
  -webkit-font-smoothing: antialiased; /* 3 */
}

a {
  color: $color-brand;
  font-size: inherit;
}

a:hover,
a:focus,
a:active {
  color: darken($color-brand, 20%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-heading;
  margin: 0; /* 4 */
}

p {
  color: $color-text;
  margin: 0; /* 4 */
}

/* Typography helper classes */

.typography-alpha {
  @include typography(alpha);
}

.typography-beta {
  @include typography(beta);
}

.typography-gamma {
  @include typography(gamma);
}

.typography-delta {
  @include typography(delta);
}

.typography-dafault {
  @include typography();
}
