/* Variables
   ==================== */

/* DEBUG Mode */
$debug: true; // show MQ helper

/* Colors */
$color-brand: #b41625;
$color-brand-dark: mix($color-brand, black, 70%);
$color-gray: #eeeeef;
$color-dark-gray: #55585e;

/* Gradient */
$gradient: linear-gradient(45deg, $color-brand, $color-brand-dark);

/* Variable for CSS image folder */
$imgUrl: "/images";

/* GENERIC */
$rem-base: 10px !default;
$spacing: 10px; // for alternative call it $spacing-alternative

/* FONTS */
$font-primary: "Roboto", sans-serif;
$font-secondary: "Roboto", sans-serif;

/* TEXT */
$color-link: $color-brand;
$color-link-hover: $color-brand-dark;
$color-text: #666;
$color-heading: #444;

/* CONTENT WIDTHS */
$page-width: 1400px;
$content-small-width: 600px;
$content-medium-width: 800px;
$content-large-width: 1000px;

/**
 * MEDIA QUERIES SETUP
 * SASS MQ library is used
 * http://sass-mq.github.io/sass-mq/
 */
$mq-breakpoints: (
  screen480: 480px,
  screen600: 600px,
  screen768: 768px,
  screen1000: 1000px,
  screen1200: 1200px,
  screen1400: 1400px,
);

$mq-static-breakpoint: screen768;

//$mq-show-breakpoints: (screen480,screen600,screen768,screen1000,screen1200,screen1400);

/** COMPONENTS THEME
-------------------- */

/** Panel component
-------------------- */
$panel-background: $color-gray;
