h1, h2, h3 {
  font-weight: 700;
}

.navbar-brand {
  align-self: center;
  flex: 1 1;
  min-width: 180px;
}

.srh-hero {
  overflow: hidden;
}

.srh-hero-image-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}


@media only screen and (max-width: 992px) {
  .srh-hero-image {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .srh-hero-image {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: -5em; // overflow hidden in parent
    width: 130%;
    margin-top: auto;
    margin-bottom: auto;
  }
}


.seraphin-by-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.seraphin-by {
  align-items: center;
  display: flex;
}

.seraphin-by img {
  display: block;
}

.seraphin-by .seraphin-by__seraphin {
  height: 28px;
  width: 200px;
}

.seraphin-by .seraphin-by__by {
  color: #023480;
  font-family: none;
  font-size: x-large;
  font-style: italic;
  font-weight: 700;
  margin: 0 0.5em;
}

.seraphin-by .seraphin-by__ionas img {
  margin-bottom: 5px;
  max-height: 28px;
}


// .function-background {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/images/functions/sensor-graph.jpg);
//   background-repeat: no-repeat;
//   background-position: center; 
//   background-size: contain;
// }


.image {
  &--elevated {
    box-shadow: 0px 3px 3px -2px, 0px 3px 4px 0px, 0px 1px 8px 0px;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 10px;
  }
  &--clickable {
    &:hover {
      transform: scale(1.02);
      cursor: pointer;
      box-shadow: 0px 3px 5px -1px, 0px 6px 10px 0px, 0px 1px 18px 0px;
    }
  }
}