
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a href="{{ .Site.BaseURL }}{{ .Site.Language.Lang }}" class="navbar-brand">
      <img src="{{ .Site.Params.logo | absURL }}" alt="site-logo">
    </a>
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <ul class="nav navbar-nav main-navigation my-0 mx-auto">
        {{ $menu := .Site.Menus.main }}
        {{ range $index, $element := $menu }}
        <li class="nav-item">
          <a href="{{ .URL | relLangURL }}"
            class="nav-link text-dark text-sm-center p-2 {{ if $.IsHome }}scroll{{ end }}">{{ .Name }}</a>
        </li>
        {{ end }}
        <!-- <li class="nav-item">
          <a class="nav-link text-dark text-sm-center p-2" href="/blog">Blog</a>
        </li> -->
      </ul>
      <div class="navbar-nav">

        {{ with .AllTranslations }}

          <div class="sl-nav">
            <ul>
              <li><b>{{ $.Site.Language }}</b> <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="triangle"></div>
                <ul>
                  {{ range . }}
                  <li>
                    <i class="sl-flag flag-{{ .Lang }}"><div id="germany"></div></i> 
                    {{ if eq .Language.Lang $.Language.Lang }}
                    <span class="active" aria-label="{{ i18n "ariaLanguage" }}{{ .Language.LanguageName }}">
                      {{ .Language.LanguageName }}
                    </span>
                    {{ else }}
                       <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                    {{ end }}
                  </li>
                  {{ end }}
                </ul>
              </li>
            </ul>
          </div>

        {{ end }}
        
      </div>

      <div class="navbar-nav">
        <a href="{{ "contact" | lang.Translate | relLangURL }}" class="btn btn-primary btn-zoom hire_button">{{ .Site.Params.navbarCta }}</a>
      </div>
    </div>
  </div>
</nav>