
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a href="{{ "/" | relLangURL }}" class="navbar-brand">
      <img src="{{ .Site.Params.logo | absURL }}" alt="site-logo">
    </a>
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <ul class="nav navbar-nav main-navigation my-0 mx-auto">
        {{ $menu := .Site.Menus.main }}
        {{ range $index, $element := $menu }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown dropdown-hover">
          <a href="{{ if strings.HasPrefix .URL "#" }}#{{ else }}{{ .URL | relLangURL }}{{ end }}"
            class="nav-link dropdown-toggle text-dark text-sm-center p-2"
            id="navbarDropdown-{{ .Identifier }}"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            {{ .Name }} <i class="fa fa-angle-down nav-dropdown-icon ml-1" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu main-dropdown-menu" aria-labelledby="navbarDropdown-{{ .Identifier }}">
            {{ range .Children }}
            {{ if .HasChildren }}
            <li class="dropdown-submenu">
              <div class="dropdown-submenu-toggle-wrapper d-flex align-items-center justify-content-between">
                <a href="{{ .URL | relLangURL }}"
                  class="dropdown-item text-dark">
                  <span>{{ .Name }}</span>
                  <i class="fa fa-angle-right submenu-icon d-none d-lg-inline-block" aria-hidden="true"></i>
                </a>
                <button type="button"
                  class="submenu-toggler d-lg-none"
                  aria-label="Toggle submenu"
                  aria-expanded="false">
                  <i class="fa fa-angle-down submenu-icon" aria-hidden="true"></i>
                </button>
              </div>
              <ul class="dropdown-menu submenu">
                {{ range .Children }}
                <li>
                  <a class="dropdown-item text-dark" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                </li>
                {{ end }}
              </ul>
            </li>
            {{ else }}
            <li>
              <a class="dropdown-item text-dark" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </li>
        {{ else }}
        <li class="nav-item">
          <a href="{{ if strings.HasPrefix .URL "#" }}{{ if not $.IsHome }}{{ "/" | relLangURL }}{{ end }}{{ .URL }}{{ else }}{{ .URL | relLangURL }}{{ end }}"
            class="nav-link text-dark text-sm-center p-2 {{ if $.IsHome }}{{ if strings.HasPrefix .URL "#" }}scroll{{ end }}{{ end }}">{{ .Name }}</a>
        </li>
        {{ end }}
        {{ end }}
        <!-- <li class="nav-item">
          <a class="nav-link text-dark text-sm-center p-2" href="/blog">Blog</a>
        </li> -->
      </ul>
      <div class="navbar-nav">

        {{ with .AllTranslations }}

          <div class="sl-nav">
            <ul>
              <li><b>{{ $.Site.Language }}</b> <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="triangle"></div>
                <ul>
                  {{ range . }}
                  <li>
                    <i class="sl-flag flag-{{ .Lang }}"><div id="germany"></div></i> 
                    {{ if eq .Language.Lang $.Language.Lang }}
                    <span class="active" aria-label="{{ i18n "ariaLanguage" }}{{ .Language.LanguageName }}">
                      {{ .Language.LanguageName }}
                    </span>
                    {{ else }}
                       <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                    {{ end }}
                  </li>
                  {{ end }}
                </ul>
              </li>
            </ul>
          </div>

        {{ end }}
        
      </div>

      <div class="navbar-nav">
        <a href="{{ "contact" | lang.Translate | relLangURL }}" class="btn btn-primary btn-zoom hire_button">{{ .Site.Params.navbarCta }}</a>
      </div>
    </div>
  </div>
</nav>